
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    padding: 20px;
}

.score {
    font-size: 24px;
    margin-bottom: 20px;
}

.quiz {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.question {
    font-size: 20px;
    margin-bottom: 20px;
}

.options {
    display: grid;
    grid-gap: 10px;
}

.options button {
    padding: 10px;
    font-size: 18px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.options button:hover {
    background-color: #0056b3;
}

/* Styles for screen sizes 600px and below */
@media only screen and (max-width: 600px) {
    .score {
        font-size: 20px;
    }

    .quiz {
        padding: 15px;
    }

    .question {
        font-size: 18px;
    }

    .options button {
        padding: 8px;
        font-size: 16px;
    }
}
